.section {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 40px;
  }
  .section .description,
  .image,
  .list {
    margin: 0 30px;
  }
  .section .description {
    width: 25%;
  }
  .section .description .title {
    font-size: 75px;
    font-weight: bold;
  }
  .section .description .text {
    font-size: 22px;
  }
  .section .image {
    width: 60%;
  }
  .section .list {
    width: 20%;
    text-align: right;
  }
  .section .list .menu-list .new {
    padding: 4px;
    background-color: yellow;
    border-radius: 8px;
  }
  .section .list .menu .menu-list {
    font-size: 20px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .section .list .link a:hover,
  .menu .menu-list:hover {
    color: darkgreen;
    text-decoration: underline;
  }
  .list .link {
    margin-top: 30px;
  }
  .list .link a {
    font-size: 28px;
    color: grey;
  }
  @media (max-width: 1366px) {
    .section .description {
      width: 20%;
    }
    .section .description .title {
      font-size: 42px;
      font-weight: bold;
    }
    .section .description .text {
      font-size: 22px;
    }
    .section .image {
      width: 80%;
    }
    .section .list {
      width: 20%;
      text-align: right;
    }
    .section .list .menu .menu-list {
      font-size: 18px;
      margin-bottom: 8px;
      cursor: pointer;
    }
    .list .link {
      margin-top: 30px;
  
    }
    .list .link a {
      font-size: 14px;
      font-weight: bold;
      color: grey;
    }
  }
  @media (min-width: 1023.9px) and (max-width: 1365.9px){
    .section .description {
      width: 20%;
    }
    .section .description .title {
      font-size: 32px;
      font-weight: bold;
    }
    .section .description .text {
      font-size: 16px;
    }
    .image {
      width: 100%;
    }
    .section .list {
      width: 10%;
      text-align: right;
    }
    .section .list .list-title {
      font-size: 20px;
      margin-bottom: 8px;
      cursor: pointer;
    }
    .section .list .menu .menu-list {
      font-size: 12px;
      margin-bottom: 8px;
      cursor: pointer;
    }
    .list .link {
      margin-top: 30px;
  
    }
    .list .link a {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 18px;  
      color: grey;
    }
  }
  @media (min-width: 768.9px) and (max-width: 1023.9px) {
    .section {
      display: flex;
      flex-direction: column;
    }
    .section .description {
      text-align: center;
      width: 100%;
    }
    .section .description .title {
      font-size: 48px;
      font-weight: bold;
    }
    .section .image,
    .list {
      display: contents;
    }
  
    .section .list-title {
      text-align: center;
    }
    .section .list .menu {
      column-count: 3;
      column-gap: 50px;
      text-align: center;
    }
    .list .link a{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 20px;
      color: grey;
    }
  }
  @media (min-width: 424.9px) and (max-width: 768px) {
    .section {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    .section .description {
      text-align: center;
      width: 100%;
    }
    .section .image,
    .list {
      display: contents;
    }
  
    .section .list-title {
      text-align: center;
    }
    .section .list .menu {
      column-count: 3;
      column-gap: 50px;
      text-align: center;
    }
    .list .link a{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 20px;
      color: grey;
    }
  }
  @media (min-width: 360px) and (max-width: 424px) {
    .section {
      display: block;
    }
    .section .description{
      width: 100%;
      text-align: center;
    }
    .section .description .title{
      font-size: 36px;
    }
    .section .description .text {
      font-size: 16px;
    }
    .section .image,
    .list {
      display: contents;
    }
  
    .section .list-title {
      text-align: center;
    }
    .section .list .menu {
      column-count: 2;
      column-gap: 50px;
      text-align: center;
    }
    .list .link a {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 18px;  
      color: grey;
    }
  }
  